<h2>Welcome to the Paper-based Contingency App</h2>
<p>Click one of the buttons below to get started</p>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-lg btn-primary btn-block">Dish out pb contingency</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-lg btn-primary btn-block">Manage pb contingency versions</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-lg btn-primary btn-block">Do something else</button>
    </div>
  </div>

</div>